{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Lista de Consultas</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="container">
    <h2>Lista de Consultas</h2>
    <a href="{% url 'crear_consulta' %}" class="btn-primary">Agregar Consulta</a>
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Diagnóstico</th>
          <th>Observaciones</th>
          <th>Cita</th>
          <th>Veterinario</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for consulta in consultas %}
        <tr>
          <td>{{ consulta.fecha }}</td>
          <td>{{ consulta.hora }}</td>
          <td>{{ consulta.diagnostico }}</td>
          <td>{{ consulta.observaciones }}</td>
          <td>{{ consulta.id_cita }}</td>
          <td>{{ consulta.id_veterinario.nombre }} {{ consulta.id_veterinario.apellidos }}</td>
          <td>
            <a href="{% url 'editar_consulta' consulta.pk %}" class="btn-secondary">Editar</a>
            <a href="{% url 'eliminar_consulta' consulta.pk %}" class="btn-danger">Eliminar</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7">No hay consultas registradas.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'home' %}" class="nav-link">Volver al Home</a>
  </div>
</body>
</html>
