<!-- templates/reporte_form.html -->

{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Reporte</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Generar Reporte</h2>
        <form method="post">
            {% csrf_token %}
            <div>
                {{ form.as_p }}
            </div>
            <button type="submit">Generar Reporte</button>
        </form>
    </div>
</body>
</html>
